.DS_Store
.idea/
.vscode
.zed
.claude
.qodo

# Ignore binaries
element
examples/main
examples/builder_pool/builder_pool
examples/components/components
examples/form_example/form_example
examples/interfaces/ex_interfaces
examples/simple_element_example/simple_element_example
